<h1 id="header" style="text-align: center;">Burger Time!!</h1>



<div id="row-1" class="row">
    <div id="b-list" class="col-6" style="background-color: goldenrod; height:350px; text-align: center; border-left: 3px; border-style: solid; border-color: black;">
        <h3 style="text-align: center; text-decoration: underline; ">Burgers</h3>

        {{#each notDevouredList}}
        <div>
            <p>{{id}}.{{burger_name}}
                <button class="btn btn-sm btn-outline-primary m-1 devour-btn float-right" data-burger="{{id}}">Devour
                    It!<i class="fas fa-utensils ml-2"></i>


                </button>
            </p>
        </div>

        {{/each}}

    </div>
    <div id="d-list" class="col-6" style="background-color: goldenrod; height:350px; text-align: center; border-left: 3px; border-style: solid; border-color: black;">
        <h3 style="text-align: center; text-decoration: underline;">Devoured</h3>

        {{#each devouredList}}
        <div>{{id}}.{{burger_name}}</div>
        {{/each }}

    </div>
</div>


<div id="row-2" class="row">
    <div class="col-12"
        style=" background-color:goldenrod; width:100%; height:150px; text-align: center; padding-top:15px;">
        <form>
            <input type="text" id="burger" name="burger">
            <button id="add" type="submit">Add burger</button>
        </form>
    </div>
</div>



<script type="text/javascript">

function devourBurger(id) {
    $.ajax("/api/burger/" + id, {
        type: "PUT"
    }).then(
        function () {
            location.reload();
        }
    );
}

$(".devour-btn").on("click", function () {
    let id = $(this).attr("data-burger");
    devourBurger(id);
});

$("#add").on("click", function (event) {
    event.preventDefault();
    const data = {
        name: $("#burger").val()
    };
    // Sending POST Request
    $.ajax("/api/burger", {
        type: "POST",
        data: data
    }).then(
        function () {
            location.reload();
        }
    );
});








   /* $("#add").on("click", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();
        console.log("button worked!!")

        // [name=burger] will find an element with a "name" attribute equal to the string "burger"
        let newBurger = {
            burger: $("#burger").val(),
            devoured: false
        };
        console.log(newBurger);

        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
    */



</script>